.header {
  background: white;
  color: black;
  display: flex;
  justify-content: space-evenly;
  padding: $m-size;
}

.header__form {
  align-content: flex-start;
  padding: .3rem;
  width: 50%;
}

.header__input {
  border-radius: 2.5rem;
  height:4rem;
  margin-top: -.7rem;
  width: 90%;
}

.header__input--no-outline:focus {
  outline: none;
}

.header__logo {
  width: 15%;
}

.header__logo--img {
  width: 20rem;
  height: 3rem;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  padding: .8rem;
  width: 30%;
}

.header__link {
  color: black;
  text-decoration: none;
}

.header__link:visited {
  color: black;
  text-decoration: none;
}

.header__link:hover {
  color: $dfx-red;
  cursor: pointer;
  text-decoration: none;
}

.header__navigation--join {
  background: $dfx-red;
  border-radius: 5px;
  color: white;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: -1rem;
  text-decoration: none;
}

.header__navigation--join:hover {
  background: lighten($dfx-red, 20%);
}