.logout-btn {
    min-width: unset!important;
    margin-left: 20px;
}
.logout-text {
    margin-left: 10px!important;
}
.user-menu-text {
    margin-left: 20px;
    margin-right: 20px;
}
.user-menu-text span {
    font-size: 14px;
}