@import './base/settings';
@import './base/base';
@import './components/about';
@import './components/footer';
@import './components/header';
@import './components/homepage';
@import './components/register';
@import './components/gigform';
@import './components/sidebar';
@import './components/profilemenu';
@import './components/profile';
.home-body {
    width: 85%;
}
.unauth-home-body {
    width: 100%;
}
.main-body {
    display: flex;
}